*
{
    font-family: 'Poppins', sans-serif;
}
    
.navbar-brand
{
    font-family: 'pacifico', cursive;
    
}

html, body
{
    height: 100%;
}

body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.visitor-header
{
    clip-path: polygon(50% 0, 100% 25%, 100% 100%, 50% 69%, 0 67%, 0% 25%);
}


