{% extends "themes/base_visiteurs.html.twig" %}

{% block title %}Acceuil{% endblock %}

{% block description %}hello! C'est Jean Martin. découvrez des articles pertinents du football et le bien être  {% endblock %}

{% block main %}
    <main>
        <h1>Acceuil</h1>
    </main>
{% endblock %}